- slide_contents = YAML.load_file("#{Rails.root}/config/slide_contents.yml")["slide_contents"]
- slide_indexs = (0...slide_contents.count).to_a.shuffle
.reveal
  .slides
    %section.center
      %h1= t("terms.titles.presentation")
    - @winners.each do |winner|
      - slide = slide_contents[cycle(slide_indexs).to_i]
      - filename = slide["filename"]
      - message = slide["message"].gsub("{{name}}", winner.name)
      - text_position = slide["text_position"].presence || "top"
      %section{ data: { background: "/assets/cats/#{filename}" }, class: text_position }
        %h2= message
