@import "reveal"
@import "theme/black"

.reveal section
  &.top
    // no specific styles
  &.bottom
    bottom: 30px
  h2
    text-transform: none
    font-size: 2.0em
    &.gray
      color: #777777
    &.white
      color: #ffffff
