%nav.navbar.navbar-default
  .container-fluid
    .navbar-header= link_to t('app.name'), root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to t('terms.titles.lottery_office'), lotteries_path
